<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <div>
        <table border="1">
            <tr>
                <th>Mark</th>
                <th>Model</th>
                <th>Year</th>
            </tr>
            <th:block th:each="car : ${carsResult}">
                <tr>
                    <th th:text="${car.getMark()}"></th>
                    <th th:text="${car.getModel()}"></th>
                    <th th:text="${car.getYear()}"></th>
                </tr>
            </th:block>
        </table>
    </div>
</body>
</html>